<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <title>Template</title>
</head>
<body>
<h1>Places</h1>
<div class="container">
    <div class="grid-item item-1">
        <h3><strong>Post title</strong></h3>
        <p>
            I first met Place in Print at the Herne hill country fair and were instantly very impressed with their images and quality of prints and framing
            so bought their tooting lido print online later that week.
            It arrived very efficiently and in great packaging order. Very happy with them! I'm a big fan...
        </p>
    </div>
    <div class="grid-item">
        <img src="pexels-belle-co-783682.jpg" alt="">
    </div>
    <div class="grid-item">
        <img src="pexels-sonya-livshits-9825914.jpg" alt="">
    </div>
    <div class="grid-item item-4">
        <h3><strong>Post title</strong></h3>
        <p>
            I first met Place in Print at the Herne hill country fair and were instantly very impressed with their images and quality of prints and framing
            so bought their tooting lido print online later that week.
            It arrived very efficiently and in great packaging order. Very happy with them! I'm a big fan...
        </p>
    </div>


</div>
</body>
</html>